.left {
  width: 33%;
  float: left;
  background-color: lightpink;
}

.center {
  width: 33%;
  float: left;
  background-color: lightslategray;
}

.right {
  width: 33%;
  float: left;
  background-color: tomato;
}

h1 {
  text-align: center;
  border-bottom: solid black;
}

img {
  height: 480px;
  width: 100%;
}

p {
  text-align: center;
  font-size: 18pt;
}
